@import "normalize.css";

@font-face {
    font-family: 'Heebo';
    src: url('./fonts/Heebo-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('./fonts/Heebo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yantramanav';
    src: url('./fonts/Yantramanav-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-dark: #000000;
    --color-dark-alternate: #131619;
    --color-light: #FFFFFF;
    --color-dark-gray: #404040;
    --color-light-gray: #C4C4C4;

    --border-radius: 30px;
    --border: 1px solid var(--color-light);

    --font-family-base: 'Heebo', sans-serif;
    --font-family-accent: 'Yantramanav', sans-serif;

    --input-height: 54px;

    --container-width: 1300px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s;

    --header-hight: 90px;
}

body {
    font-family: var(--font-family-base), serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: var(--color-light-gray);
    background-color: var(--color-dark);
}

svg *[fill] {
    fill: currentColor;
}
svg *[stroke] {
    fill: currentColor;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-light);
}

.title-big {
    font-size: clamp(24px, 3.12vw, 60px);
    line-height: 1.2;
}

.title-medium {
    font-size: clamp(20px, 2.08vw, 40px);
    line-height: 1.3;
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

svg * {
    transition-property: fill, stroke;
}
a {
    color: var(--color-light);
}

a:hover {
    color: var(--color-light-gray);
}

p {
    margin-block: 0;
}

p:not(:last-child) {
    margin-bottom: 24px;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.container-wide {
    max-width: 1920px;
    margin-inline: auto;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.section-description {
    font-size: 20px;
    line-height: 1.65;
    text-transform: uppercase;
    color: var(--color-light);
    text-align: center;
}
.button {
    display: inline-flex;
    align-items: center;
    height: 38px;
    padding-inline: 26px;
    font-size: 12px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: var(--color-light);
    border: none;
    border-radius: var(--border-radius);
}

.button:hover {
    background-color: var(--color-light-gray);
}

.button.transparent {
    position: relative;
    height: var(--input-height);
    padding-left: 31px;
    padding-right: 80px;
    color: var(--color-light);
    background-color: transparent;
    border: var(--border);
}

.button.transparent::after {
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    aspect-ratio: 1;
    background: url("./icons/arrow-top-right.svg") center/70% no-repeat;
    border: var(--border);
    border-radius: 50%;
}

.button.transparent:hover {
    color: var(--color-dark);
    background-color: var(--color-light-gray);
}

.input {
    width: 100%;
    height: var(--input-height);
    padding-inline: 25px;
    color: var(--color-light);
    background-color: transparent;
    border: 1px solid var(--color-light-gray);
    border-radius: var(--border-radius);
}

.input::placeholder,
select.input:invalid {
    color: var(--color-light-gray);
}

.input:hover {
    border-color: var(--color-light);
}

.input:focus {
    outline: none;
    background-color: var(--color-light-gray);
    color: var(--color-dark);
}

/* For WebKit-based browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Important to remove extra space */
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* For other browsers (general appearance) */
input[type="number"] {
    appearance: textfield;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    min-height: var(--header-hight);
    padding-inline: 32px;
    background-color: var(--color-dark-alternate);
}

.header-logo {
    flex-shrink: 0;
}

.header-menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
}

.header-menu-link {
    display: inline-flex;
    align-items: center;
    column-gap: 7px;
    height: var(--header-hight);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.2px;
}

.header-menu-link.is-current::after {
    content: "";
    width: 5px;
    aspect-ratio: 1;
    background-color: currentColor;
    border-radius: 50%;
}

.header-actions {
    display: flex;
    column-gap: 40px;

}

.header-burger-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
    width: 40px;
    aspect-ratio: 1;
    padding-left: 8px;
    color: var(--color-light);
    background-color: transparent;
    border: var(--border);
    border-radius: 50%;
}

.header-burger-button:hover {
    color: var(--color-light-gray);
    border-color: currentColor;
}

.header-burger-button-line {
    width: 6px;
    height: 1px;
    background-color: currentColor;
    box-shadow: 16px 0 0 currentColor;
}


.banner {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: calc(100vh - var(--header-hight));
    padding: 36px 70px;
    color: var(--color-light);
    background-color: var(--color-dark-alternate);
}

.banner-body {
    text-transform: uppercase;
}

.banner-info::before {
    content: "";
    margin-right: 30px;
    width: clamp(60px, 10.1vw, 194px);
    aspect-ratio: 1;
    background: url('./icons/bold-arrow-down-right.svg') center/contain no-repeat;
}

.banner-info {
    display: flex;
    align-items: end;
    font-size: clamp(16px, 1.56vw, 30px);
    line-height: 1.27;
    font-weight: 700;
}

.banner-title {
    font-size: min(18.75vw, 360px);
    line-height: 1;
}

.banner-pagination-list {
    display: flex;
    justify-content: center;
}

.banner-pagination-item {
    display: flex;
}

.banner-pagination-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    background-color: transparent;
    border: none;
}

.banner-pagination-button::after {
    content: "";
    width: 10px;
    aspect-ratio: 1;
    border: var(--border);
    border-radius: 50%;
    transition-duration: var(--transition-duration);
}

.banner-pagination-button.is-current::after {
    background-color: var(--color-light);
}

.banner-pagination-button:not(.is-current):hover::after {
    border-color: var(--color-light-gray);
}

.motivation-item:nth-child(even) {
    background-color: var(--color-dark-alternate);
}

.motivation-card {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: clamp(30px, 10.42vw, 200px)
}

.motivation-item:nth-child(even) .motivation-card {
    flex-direction: row-reverse;
}

.motivation-card-image {
    margin-block: -60px;
}

.motivation-card-body {
    padding-left: 35px;
}

.backdrop-title {
    position: relative;
    z-index: 2;
}

.backdrop-title::before {
    content: "";
    position: absolute;
    right: calc(100% + 8px);
    display: block;
    width: 26px;
    aspect-ratio: 1;
    background: url('./icons/plus.svg') center/contain no-repeat;
}

.backdrop-title::after {
    content: attr(data-title);
    position: absolute;
    z-index: -1;
    top: -0.3em;
    left: -0.6em;
    font-family: var(--font-family-accent), sans-serif;
    font-size: 2.8em;
    line-height: 1;
    color: transparent;
    -webkit-text-stroke: 1px var(--color-light-gray);
}

.backdrop-title.centered:after {
    top: -0.25em;
    left: 50%;
    translate: -50% 0;
}

.motivation-card-title:not(:last-child) {
    margin-bottom: 14px;
}

.motivation-card-description {
    max-width: 400px;
}

.motivation-card-description:not(:last-child) {
    margin-bottom: 37px;
}
.training-types {
    position: relative;
    padding-top: 70px;
    padding-bottom: 120px;
    background-color: var(--color-dark);
}

.training-types-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 60px;
}

.training-types-item {
    --trainingTypesItemBgIconSize: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    padding-top: var(--trainingTypesItemBgIconSize);
    background: url("./icons/transparant-arrow-bottom-left.svg") 100% 0/var(--trainingTypesItemBgIconSize) no-repeat;
}

.join-us {
    background-color: var(--color-dark-alternate);
 }

.join-us-video-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 30px;
    background: url("./images/join-us/join-us-bg.jpg") center/cover no-repeat var(--color-dark-alternate);
}

.join-us-video {
    width: 100%;
    max-width: 960px;
    height: auto;
}

.join-us-video-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    width: 200px;
    aspect-ratio: 1;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-light);
    border: var(--border);
    border-radius: 50%;
    background-color: transparent;
}

.join-us-video-play-button::after {
    content: "";
    width: 26px;
    aspect-ratio: 1;
    background: url("./icons/arrow-top-right.svg") center/contain no-repeat;
    transition-duration: var(--transition-duration);
}

.join-us-video-play-button:hover {
    color: var(--color-dark);
    background-color: var(--color-light-gray);
    border-color: var(--color-light-gray);
}

.join-us-video-play-button:hover::after {
    filter: invert(1);
}

.join-us-body {
    padding-bottom: 150px;
}

.join-us-title {
    position: relative;
    font-size: clamp(64px, 9.37vw, 180px);
    line-height: 1;
    text-align: center;
    margin-top: -0.4em;
}

.join-us-title::after {
    content: "";
    display: inline-block;
    height: 0.7em;
    aspect-ratio: 1;
    margin-left: 0.14em;
    background: url("./icons/bold-arrow-down-right.svg") center/contain no-repeat;
    scale: 1 -1;
}

.join-us-title:not(:last-child) {
    margin-bottom: 130px;
}

.join-us-form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7px;
}

.join-us-form-header:not(:last-child) {
    margin-bottom: 52px;
}

.join-us-form-body {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.join-us-form-input {
    max-width: 400px;
}

.location {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.location-map-image {
    height: auto;
}
.location-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 15px;
    text-align: center;
}

.location-title:not(:last-child) {
    margin-bottom: 14px;
}

.location-description {
    max-width: 490px;
}
.location-description:not(:last-child) {
    margin-bottom: 37px;
}

.family {
    background-color: var(--color-dark-alternate);
}
.family-header {
    padding-block: 132px 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 7px;
}

.family-body {
    display: flex;
    justify-content: center;
    column-gap: 26px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
}
.family-image {
    scroll-snap-align: start;
}

.calculate {
    padding-block: 146px;
    background-color: var(--color-dark-alternate);
}
.calculate-inner {
    display: flex;
    align-items: center;
    column-gap: 36px;
}

.calculate-body {
    flex-grow: 1;
    max-width: 627px;
}

.calculate-title:not(:last-child) {
    margin-bottom: 16px;
}

.calculate-description {
    max-width: 385px;
}

.calculate-description:not(:last-child) {
    margin-bottom: 30px;
}

.calculate-form-body:not(:last-child) {
    margin-bottom: 26px;
}

.calculate-form-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px 30px;
}

.calculate-input.wide {
    grid-column: -1 / 1;
}

.calculate-table-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 610px;
}

.calculate-table-wrapper::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--color-dark);
    border-radius: 50%;
}

.calculate-table {
    position: relative;
    border-collapse: collapse;
}

.calculate-table :is(td, th) {
    padding-right: 30px;
}

.calculate-table :is(td, th):not(:first-child) {
    padding-left: 30px;
}

.calculate-table :is(td, th):not(:last-child) {
    border-right: 1px solid var(--color-light-gray);

}

.calculate-table tbody td {
    border-top: 1px solid var(--color-light-gray);
}

.calculate-table th {
    padding-block: 20px;
    text-align: left;
    text-transform: uppercase;
    color: var(--color-light);
}

.calculate-table td {
    padding-block: 14px;
}

.calculate-table tfoot {
    color: var(--color-light);
}

.calculate-table tfoot td {
    padding-block: 33px 0;
}

.calculate-table tbody tr:last-child td:first-child {
    position: relative;
}
.calculate-table tbody tr:last-child td:first-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 1px;
    background-color: var(--color-light-gray);
}

.footer {
    --footerLogoWidth: 20.77%;
}
.footer-main {
    padding-block: 140px 160px;
}
.footer-header,
.footer-body {
    display: grid;
    column-gap: 62px;
}
.footer-header {
    grid-template-columns: var(--footerLogoWidth) auto;
}
.footer-header:not(:last-child) {
    margin-bottom: 60px;
}
.footer-logo-image {
    height: auto;
}
.footer-description {
    text-align: left;
}
.footer-body {
    grid-template-columns: var(--footerLogoWidth) repeat(3, 1fr);
}
.footer-column-title {
    font-size: clamp(18px, 1.15vw, 22px);
}
.footer-column-title:not(:last-child) {
    margin-bottom: 15px;
}
.footer-schedule:not(:last-child) {
    margin-bottom: 13px;
}
.footer-address {
    font-style: normal;
}
.footer-address:not(:last-child) {
    margin-bottom: 35px;
}
.footer-column-title.has-arrow::after {
    content: "";
    display: inline-block;
    height: 0.74em;
    aspect-ratio: 1;
    margin-left: 0.5em;
    background: url("./icons/bold-arrow-down-right.svg") center/contain no-repeat;
    scale: -1 1;
}
.footer-subscribe {
    position: relative;
}
.footer-subscribe:not(:last-child) {
    margin-bottom: 50px;
}
.footer-subscribe-input {
    padding-right: 70px;
}
.footer-subscribe-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    aspect-ratio: 1;
    border: var(--border);
    border-radius: 50%;
    background: url("./icons/arrow-top-right.svg") center/70% no-repeat;
}
.footer-subscribe-button:hover {
    background-color: var(--color-light-gray);
}
.footer-soc1als-list {
    display: flex;
    column-gap: 18px;
}
.footer-soc1als-link {
    display: flex;
    width: 23px;
}
.footer-extra {
    padding-block: 15px;
    background-color: var(--color-dark-alternate);
}
.footer-copyright {
    font-size: 14px;
}


@media(max-width: 1919px) {
    .motivation-card-image {
        margin-block: -20px
    }
}

@media(max-width: 1280px) {
    .training-types-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 1024px) {
    .header {
        flex-wrap: wrap;
        row-gap: 10px;
        padding-top: 20px;
    }
    .header,
    .banner {
        padding-inline: 15px;
    }
    .header-menu {
        order: 1;
        flex-basis: 100%;
    }
    .header-menu-link {
        height: 50px;
    }
    .banner {
        row-gap: 10px
    }
    .motivation-card {
        padding-block: 50px;
    }
    .motivation-card-image {
        max-width: 30%;
        height: auto;
        margin-block: 0;
    }
    .join-us-body {
        padding-bottom: 80px;
    }

    .join-us-title:not(:last-child) {
        margin-bottom: 80px;
    }
    .location {
        display: flex;
        flex-direction: column-reverse;
    }
    .family-image {
        height: 360px;
    }
    .calculate {
        padding-block: 100px;
    }
    .calculate-inner {
        column-gap: 20px;
    }
    .calculate-form-body {
        grid-template-columns: 1fr;
    }
    .calculate-button {
        width: 100%;
    }
    .calculate-table :is(td, th) {
        padding-block: 10px;
    }
    .calculate-table tfoot td {
        padding-top: 10px;
    }
    .footer-main {
        padding-block: 80px 50px;
    }
    .footer-header {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
    .footer-body {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }
}

@media(max-width: 768px) {
    .button {
        padding-inline: 18px;
    }
    .header {
        padding-top: 10px;
    }
    .header-menu-list {
        column-gap: 24px;
    }
    .header-menu-link {
        height: 32px;
    }
    .header-actions {
        column-gap: 15px;
    }
    .banner-info {
        margin-bottom: 5px;
    }
    .banner-info::before {
        margin-right: 10px;
    }
    .motivation-card,
    .motivation-item:nth-child(even) .motivation-card {
        flex-direction: column-reverse;
    }
    .motivation-card {
        row-gap: 30px;
        padding-block: 30px;
    }
    .motivation-card-image {
        width: 60%;
    }
    .motivation-card-description:not(:last-child) {
        margin-bottom: 20px;
    }

    .training-types-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .training-types-item {
        --trainingTypesItemBgIconSize: 50px;

        row-gap: 10px;
    }
    .training-types-image {
        max-width: 120px;
    }
    .join-us-video-play-button {
        width: 140px;
    }
    .join-us-title:not(:last-child) {
        margin-bottom: 40px;
    }
    .section-description {
        font-size: 16px;
    }
    .join-us-form-body {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .location-body {
        padding-block: 40px
    }
    .location-description:not(:last-child) {
        margin-bottom: 20px;
    }
    .family-image {
        height: 180px;
    }
    .family-header {
        padding-block: 80px 50px;
    }
    .family-body {
        column-gap: 12px;
    }
    .calculate-inner {
        flex-direction: column;
        column-gap: 30px;
    }
    .calculate-table-wrapper::before {
        display: none;
    }
    .calculate {
        padding-block: 60px;
    }
    .footer-body {
        grid-template-columns: 1fr;
    }
    .footer-main {
        padding-top: 50px;
    }
    .footer-header:not(:last-child) {
        margin-bottom: 30px;
    }
    .footer-subscribe:not(:last-child) {
        margin-bottom: 40px;
    }
}